/* Estilo de barra de navegacion y fondo */
.navbar{
  background-color:snow;
}
body {
margin: 0em;
background-color: grey;
}

.fondo{
  background-color: grey;
}
/* Estilo aplicado a todas las portadas */
.cover {
  height: 400px;
  background-size: cover;
  background-position: center;
  background-color:wheat;
  background-blend-mode: darken;
  color: white;
}


/*estilo de texto muy usado */
.introsalud{
  font-size: medium;
  text-align: left;
  font-style: italic;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  margin-top: 5px;
  margin-left: 5px;

}


.indexcards{
  background-color: gray;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 2px;
}

div.a{
  text-align: center;
}
/*estilo de las tarjetas */
.card {
  border: 0 !important;
}
.card-title {
  min-height: 3rem;
}
.card-text {
  min-height: 10rem;
}

.card-img {
  height: 10rem;
  width: auto;
  object-fit: cover;
}



/*estilo de los elemntos de listas */
.list-group{
  font: caption;
  font-family: fantasy;
}
.list-group-item{

  font-family: cursive;
  font: menu;
}
.list-unstyled{
  margin-left: 20px;
}


/*formato de imagenes */
 img.izquierda{
   margin-left: 10px;
   margin-top: 10px;
   margin-right: 10px;
  float: left 
 }

/*estilo plantilla contacto*/
 .textoconta{
  font-size: medium;
  text-align: left;
  font-weight: bold;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  margin-top: 5px;
  margin-left: 20px;

 }
 /*pie de página */
 .footer{
  background-image:  url("https://cdn.glitch.com/94b1782f-485d-4be9-be6b-b48fefbcb22b%2Frsz_viktor-forgacs-fcdqdjum6b4-unsplash.jpg?v=1588799035102");
  background-color:silver;
  min-height: 10rem;
  color:cornsilk;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 20px;
  font-style: itallic;
  font-weight: bolder;
  margin-top: 5px;

}
 