<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Aprendizaje</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <!-- import the webpage's stylesheet -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body class="fondo">
    <header class="fondos">
      <nav
        class="navbar navbar-expand-lg navbar-light bg-light bg-dark navbar navbar-dark "
      >
        <a class="navbar-brand" href="#">
          <img
            src="https://cdn.glitch.com/94b1782f-485d-4be9-be6b-b48fefbcb22b%2Frsz_branimir-balogovic-faiqrv7fge0-unsplash.jpg?v=1588692801974"
            class="rounded-circle"
            width="60"
            height="60"
            alt=""
          />
        </a>
        <ul>
          <li class="nav-item active">
            <a class="nav-link btn btn-dark" href="/">Inicio </a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-dark" href="{{ url_for('contacto') }}">Contacto</a>
          </li>
        </ul>
      </nav>
    </header>

    <div
      class="cover d-flex justify-content-center align-items-center flex-column"
      style="background-image: url(https://cdn.glitch.com/94b1782f-485d-4be9-be6b-b48fefbcb22b%2Frsz_frank-vessia-9uprlljfkp8-unsplash_1.jpg?v=1589160069846);"
    >
      <h1>
        Educacion a distancia
      </h1>
    </div>
    <section class="indexcards">
      <p class="introsalud">
        <img src="https://cdn.glitch.com/94b1782f-485d-4be9-be6b-b48fefbcb22b%2Frsz_edu.jpg?v=1589226915200 " class="izquierda">
        Sin importar que nivel educativo estes transitando es importante que
        fomentemos el parendizaje en todo moemnto en nuestras cassas.La
        educacion a distancia es todo un desafio para una persona de cualquier
        edad.Aqui te brindamos algunos consejos para que la tarea de educarse en
        casa sea mas facil y eficiente y ademas te poponemos algunos cursos
        complementraios que se pueden hacer segun intereses personal.
      </p>
    </section>
    <div class="indexcards">
      <u></u><h2 class="margentitulos">Consejos utiles </h2></u>

      <dl class="margentitulos">
        <dt>Conocimiento de la heramienta:</dt>
        <dd>
          Es sumamente necesario tener una buen conocmiento de la plataforma
          virtual que cada institución use.Familiarizarse con la herramienta de
          comuicacion entre alumnos y porofesores y si tenes dudas o preguntas no tardes en pedir ayuda
        </dd>
        <dt>Organización</dt>
        <dd>
          Si bien las clases no son presenciales resulta utli tener una rutina, ajustala a tus horarios pero la organizacion es clave para no atrasarse en las tareas.De este modo podras disfrutar de otras cosas que ademas te gusten.
        </dd>
        <dt>Toma recreos</dt>
        <dd>
          Intercalá intervaos de estudio de no mas de 2 horas con recreos para descansar.Esta probado qeu son necesarios para asentar los conocimientos.
        </dd>
        <dt>Tecnologia</dt>
        <dd>Nos guste o no la tecnologia es nuestro mejor aliado en esta circustancia,aprendamos a usarla , familiarizate con los programas de edcion de texto y otras presentaciones.Si te cuesta leer en computadora opta por imprimir los textos muy extensos para poder realizar las tareas que te pidan.
          Frente a una situacion de exámen o clases virtuales asegurate de tener buena conectividad a una red Wifi y que tu computadora se encuentre en buen estado,en parte de un adecuado uso de la tecnologia dependera el deseempeño académico </dd>
          <dt>Renovación</dt>
          <dd>Aprovecha para aprender cosas nuevas aparte de lo estrictamente academico.Los idiomas son muy interesantes y hya gran variedad de modalidades a distancia, o podes optar por alguna espciazializacion que te interese.Todo es bienvenido a la hora de hacer crecer nuestros conocimientos</dd>
        </dl>
    </div>

    <section class="footer">
      <div>
        <!--Pie de pagina-->
        <p
          style="color:cornsilk"
          ;
          background="https://cdn.glitch.com/94b1782f-485d-4be9-be6b-b48fefbcb22b%2Frsz_viktor-forgacs-fcdqdjum6b4-unsplash.jpg?v=1588799035102"
        >
          Para mas informacion no dude en contactarse
        </p>
        <a href="/contacto" class=" volver btn btn-dark">Contacto</a>
      </div>
    </section>
  </body>
</html>
