<!DOCTYPE html>
<html lang="en">
  <head><!--Informacion del documetno :no visible-->
    <title>Contacto</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <!-- Anclaje con el Framework de BOOTSRAP-->

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <!-- Anclaje al archivo de estilos-->
  </head>
  <body class="fondo">
    <!-- Barra de navegacion y portada-->
    <header>
      <nav
        class="navbar navbar-expand-lg navbar-light bg-light bg-dark navbar navbar-dark "
      ><!-- estilo de la navegación-->
        <a class="navbar-brand" href="#">
          <img
            src="https://cdn.glitch.com/94b1782f-485d-4be9-be6b-b48fefbcb22b%2Frsz_branimir-balogovic-faiqrv7fge0-unsplash.jpg?v=1588692801974"
            class="rounded-circle"
            width="60"
            height="60"
            alt=""
          /><!-- Logo con atributos  (sin ruta)-->
        </a>
        <ul><!-- opciones de la navegación con rutas (interiores)-->
          <li class="nav-item active">
            <a class="nav-link btn btn-dark" href="/">Inicio </a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-dark" href="{{ url_for('contacto') }}"
              >Contacto</a
            >
          </li>
        </ul>
      </nav>
      <div
        class="cover d-flex justify-content-center align-items-center flex-column"
        style="background-image: url(https://cdn.glitch.com/94b1782f-485d-4be9-be6b-b48fefbcb22b%2Frsz_pills-on-blue-background-3936369.jpg?v=1589211449978);"
      >
      </div>
    </header>
      <!-- Infromación de contacto-->
      <p class="textoconta">
        Trinidad González Padin: 2944581418<br />

        <img
          src="https://cdn.glitch.com/94b1782f-485d-4be9-be6b-b48fefbcb22b%2Frsz_2pic.jpg?v=1589739816737"
          class="rounded-circle"
          width="80"
          height="80"
          alt="logo instaram"
        /><!-- logo con atributos-->
        Instagram: @trinigonzalezpadin
      </p>
  </body>
</html>
