<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Pandemia Covid-19</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <!-- Anclaje con el Framework de BOOTSRAP-->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <!-- Anclaje al archivo de estilos-->
  </head>
  <body class="fondo">
    <!-- Barra de navegacion y portada-->
    <header>
      <nav
        class="navbar navbar-expand-lg navbar-light bg-light bg-dark navbar navbar-dark "
      >
        <a class="navbar-brand" href="#">
          <img
            src="https://cdn.glitch.com/94b1782f-485d-4be9-be6b-b48fefbcb22b%2Frsz_branimir-balogovic-faiqrv7fge0-unsplash.jpg?v=1588692801974"
            class="rounded-circle"
            width="60"
            height="60"
            alt=""
          />
        </a>
        <ul>
          <li class="nav-item active">
            <a class="nav-link btn btn-dark" href="/">Inicio </a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-dark" href="{{ url_for('contacto') }}"
              >Contacto</a
            >
          </li>
        </ul>
      </nav>
      <div
        class="cover d-flex justify-content-center align-items-center flex-column"
        style="background-image: url(https://cdn.glitch.com/94b1782f-485d-4be9-be6b-b48fefbcb22b%2Frsz_kelly-sikkema-be6k8sqt2fq-unsplash.jpg?v=1588798361384);"
      >
        <h1>
          A Moverse en casa
        </h1>
      </div>
    </header>
    <!-- cuerpo de la seccion-->

    <section class="indexcards">
      <!-- Introduccion a la seccion con imagen al costado-->
      <p class="introsalud">
        <img
          src=" https://cdn.glitch.com/94b1782f-485d-4be9-be6b-b48fefbcb22b%2Frsz_img-8012_1.jpg?v=1589334205928"
          class="izquierda img-rounded"
          width="450"
          height="450"
        />
        El ejercicio es fundamental para la salud del organismo. Podes optar por
        distintas actividades, te proponemos algunas ideas y sitios que podés
        visitar para inspirarte y sacar tu mejor versión
      </p>
    </section>
    <div class="indexcards">
      <!-- links a sitios recomendados-->
      <h3><u>Sitios recomedados:</u></h3>
      <p>Gym Virtual</p>
      <a href="http://gymvirtual.com/" class="btn btn-dark">Ir</a>
      <p>Runtastic-Addidas</p>
      <a
        href="https://www.runtastic.com/blog/es/entrenar-en-casa-sin-equipamiento/ "
        class="btn btn-dark"
        >Ir</a
      >
      <p>Mi gimnasio en casa</p>
      <a href="https://migymencasa.com/" class="btn btn-dark">Ir</a>
      <p>Nerd Fitness</p>
      <a href="https://www.nerdfitness.com/" class="btn btn-dark">Ir</a>
      <p>Coach</p>
      <a href="https://www.coachmag.co.uk/" class="btn btn-dark">Ir</a>
    </div>

    <!--Pie de pagina-->
    <section class="footer">
      <p style="color:cornsilk">
        Para más información no dudes en contactarte
      </p>
      <a href="/contacto" class="btn btn-dark">Contacto</a>
    </section>
  </body>
</html>