<!DOCTYPE html>
<html lang="en">
  <head><!--Informacion del documetno :no visible-->
    <title>Información práctica</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    /><!-- Anclaje con el Framework de BOOTSRAP-->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    /><!-- Anclaje al archivo de estilos-->
  </head>
  <body>
    <header><!-- Barra de navegacion y portada-->
      <nav
        class="navbar navbar-expand-lg navbar-light bg-light bg-dark navbar navbar-dark "
      ><!-- estilo de la navegación-->
        <a class="navbar-brand" href="#">
          <img
            src="https://cdn.glitch.com/94b1782f-485d-4be9-be6b-b48fefbcb22b%2Frsz_branimir-balogovic-faiqrv7fge0-unsplash.jpg?v=1588692801974"
            class="rounded-circle"
            width="60"
            height="60"
            alt=""
          /><!-- Logo con atributos (sin ruta)-->
        </a>
        <ul>
          <!-- opciones de la navegación con rutas (interiores)-->
          <li class="nav-item active">
            <a class="nav-link btn btn-dark" href="/">Inicio </a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-dark" href="{{ url_for('contacto') }}">Contacto</a>
          </li>
        </ul>
      </nav>
      <div
        class="cover d-flex justify-content-center align-items-center flex-column"
        style="background-image: url(https://cdn.glitch.com/94b1782f-485d-4be9-be6b-b48fefbcb22b%2Frsz_jessica-lewis-vi6szzwgc34-unsplash.jpg?v=1589333623353);"
      >
        <h1>
          Infromación Útil
        </h1>
      </div>
    </header>
    <p class="introsalud"><!-- Introduccion a la seccion-->
      <u> Para tomar nota</u>
      Aquí podes encontrar de forma sencilla la información importante que
      deberías saber acerca de protoloclos, medidas de seguridad e higiene,
      restricciones y permisos entre otros anuncios liberados desde el gobierno
      de la Ciudad de Mendoza para que nos mantengamos siempre informados.
    </p>

    <section><!-- corredera de imágenes-->
      <marquee
        onmouseover="stop()"
        onmouseout="start()"
        scrolldelay="100"
        direction="left"
        crollamount="8"><!-- propiedades de la corredera -->
        <img
          src="https://cdn.glitch.com/94b1782f-485d-4be9-be6b-b48fefbcb22b%2Fmm.jpg?v=1589393718590"
          class="traino img-thumbnail rounded"
          width="500"
          height="500"
        />
        <img
          src="https://cdn.glitch.com/94b1782f-485d-4be9-be6b-b48fefbcb22b%2Fmm1.jpg?v=1589393930468"
          class="traino img-thumbnail rounded"
          width="500"
          height="500"
        />
        <img
          src="https://cdn.glitch.com/94b1782f-485d-4be9-be6b-b48fefbcb22b%2F97389003_10157266503798161_2023864915739017216_o.jpg?v=1589802547431"
          class="traino img-thumbnail rounded"
          width="500"
          height="500"
        />
        <img
          src="https://cdn.glitch.com/94b1782f-485d-4be9-be6b-b48fefbcb22b%2Fmm2.jpg?v=1589393979368"
          class="traino img-thumbnail rounded"
          width="500"
          height="500"
        />
        <img
          src="https://cdn.glitch.com/94b1782f-485d-4be9-be6b-b48fefbcb22b%2Fmm4.jpg?v=1589395841570"
          class="traino img-thumbnail rounded"
          width="500"
          height="500"
        />
        <img
          src="https://cdn.glitch.com/94b1782f-485d-4be9-be6b-b48fefbcb22b%2Fmm5.jpg?v=1589395934391"
          class="img-thumbnail rounded"
          width="500"
          height="500"
        />
        <img
          src="https://cdn.glitch.com/94b1782f-485d-4be9-be6b-b48fefbcb22b%2Fmm6.jpg?v=1589396120562"
          class="img-thumbnail rounded"
          width="500"
          height="500"
        />
        <img
          src="https://cdn.glitch.com/94b1782f-485d-4be9-be6b-b48fefbcb22b%2Fmm7.jpg?v=1589396159926"
          class="img-thumbnail rounded"
          width="500"
          height="500"
        />
        <img
          src="https://cdn.glitch.com/94b1782f-485d-4be9-be6b-b48fefbcb22b%2Fmm8.jpg?v=1589396173814"
          class="img-thumbnail rounded"
          width="500"
          height="500"
        />
        <img
          src="https://cdn.glitch.com/94b1782f-485d-4be9-be6b-b48fefbcb22b%2F3.jpg?v=1589747786849"
          class="img-thumbnail rounded"
          width="500"
          height="500"
        />

        <img
          src="https://cdn.glitch.com/94b1782f-485d-4be9-be6b-b48fefbcb22b%2F6.jpg?v=1589747790506"
          class="img-thumbnail rounded"
          width="500"
          height="500"
        />

        <img
          src="https://cdn.glitch.com/94b1782f-485d-4be9-be6b-b48fefbcb22b%2F5.jpg?v=1589747791221"
          class="img-thumbnail rounded"
          width="500"
          height="500"
        />
        <img
          src="https://cdn.glitch.com/94b1782f-485d-4be9-be6b-b48fefbcb22b%2F4.jpg?v=1589747791503"
          class="img-thumbnail rounded"
          width="500"
          height="500"
        /> </marquee
      ><!-- Todas las imagenes con el mismo estilo(borde redondeado blanco) -->
    </section>

    <!--Pie de pagina-->
    <section class="footer">
      <p>
        Para más información no dudes en contactarte
      </p>
      <a href="/contacto" class="btn btn-dark">Contacto</a
      ><!--botón a la plantilla de contacto-->
    </section>
  </body>
</html>
