<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Aprendizaje</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <!-- Anclaje con el Framework de BOOTSRAP-->

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <!-- Anclaje al archivo de estilos-->
  </head>
  <body class="fondo">
    <header>
      <!-- Barra de navegacion y portada-->
      <nav
        class="navbar navbar-expand-lg navbar-light bg-light bg-dark navbar navbar-dark "
      >
        <a class="navbar-brand" href="#">
          <img
            src="https://cdn.glitch.com/94b1782f-485d-4be9-be6b-b48fefbcb22b%2Frsz_branimir-balogovic-faiqrv7fge0-unsplash.jpg?v=1588692801974"
            class="rounded-circle"
            width="60"
            height="60"
            alt=""
          />
        </a>
        <ul>
          <li class="nav-item active">
            <a class="nav-link btn btn-dark" href="/">Inicio </a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-dark" href="{{ url_for('contacto') }}"
              >Contacto</a
            >
          </li>
        </ul>
      </nav>
      <div
        class="cover d-flex justify-content-center align-items-center flex-column"
        style="background-image: url(https://cdn.glitch.com/94b1782f-485d-4be9-be6b-b48fefbcb22b%2Frsz_anastasiia-chepinska-obmbhmrc3pw-unsplash.jpg?v=1589731177849);"
      >
        <h1>
          Aprender en casa
        </h1>
      </div>
    </header>
    <!-- cuerpo de la sección-->
    <section class="indexcards">
      <p class="introsalud">
        <u>Salud Mental</u
        ><!-- Introducción a la sección-->
        Frente a las condiciones de encierro debemos prioirzar el cudiado de
        nuestra salud mental.El intelecto es la mejor herramienta que podemos
        desarollar para el futuro.Por esto deberíamos aprovechar la cuarentena
        para aprender cosas nuevas, participar de cursos y seminarios, aprender
        idiomas o lo que sea que te incentive a estimular todas las áreas del
        cererbo .También es importante en este tiempo realizar actividades
        recreativas que nos generen momentos de gratitud y poder explorar al
        máximo nuestras capacidades.Te proponemos que investigues tanto el área
        de la recreación como la de aprendizaje a distancia.
      </p>

      <div class="container mt-5 mb-5">
        <!-- Presentación de las 2 cartas con rutas -->
        <div class="row justify-content-start">
          <div class="col-12 col-sm-6 mt-2">
            <div class="card">
              <!-- Carta-recreación-->
              <img
                src="https://cdn.glitch.com/94b1782f-485d-4be9-be6b-b48fefbcb22b%2Frsz_steve-johnson-idmd4iw9xve-unsplash.jpg?v=1589159161091"
                class="card-img card-img-top"
                alt="pinceles"
              />
              <div class="card-body">
                <h5 class="card-title">Recreación</h5>
                <p class="card-text">
                  Explotá tu creatividad al 100%
                </p>
                <a href="{{ url_for('recreacion') }}" class="btn btn-dark"
                  >Ir</a
                >
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 mt-2">
            <div class="card">
              <!-- Carta.EAD-->
              <img
                src="https://cdn.glitch.com/94b1782f-485d-4be9-be6b-b48fefbcb22b%2Frsz_frank-vessia-9uprlljfkp8-unsplash_1.jpg?v=1589160069846"
                class=" card-img card-img-top"
                alt="imagen foco prendido"
              />
              <div class="card-body">
                <h5 class="card-title">Educación a distancia</h5>
                <p class="card-text">
                  Las claves del éxito para aprender en casa
                </p>
                <a href="{{ url_for('aprendizaje') }}" class="btn btn-dark"
                  >Ir</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--Pie de pagina-->
    <section class="footer">
      <p style="color:cornsilk">
        Para más información no dudes en contactarte
      </p>
      <a href="/contacto" class="btn btn-dark">Contacto</a>
    </section>
  </body>
</html>
