<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Recreación</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <!-- Anclaje con el Framework de BOOTSRAP-->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <!-- Anclaje al archivo de estilos-->
  </head>
  <body class="fondo">
    <!-- Barra de navegacion y portada-->

    <header>
      <nav
        class="navbar navbar-expand-lg navbar-light bg-light bg-dark navbar navbar-dark "
      >
        <a class="navbar-brand" href="#">
          <img
            src="https://cdn.glitch.com/94b1782f-485d-4be9-be6b-b48fefbcb22b%2Frsz_branimir-balogovic-faiqrv7fge0-unsplash.jpg?v=1588692801974"
            class="rounded-circle"
            width="60"
            height="60"
            alt=""
          />
        </a>
        <ul>
          <li class="nav-item active">
            <a class="nav-link btn btn-dark" href="/">Inicio </a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-dark" href="{{ url_for('contacto') }}"
              >Contacto</a
            >
          </li>
        </ul>
      </nav>
      <div
        class="cover d-flex justify-content-center align-items-center flex-column"
        style="background-image: url(https://cdn.glitch.com/94b1782f-485d-4be9-be6b-b48fefbcb22b%2Frsz_steve-johnson-idmd4iw9xve-unsplash.jpg?v=1589159161091);"
      >
        <h1>
          Entretenete en casa
        </h1>
      </div>
    </header>
    <!-- cuerpo de la seccion-->
    <section class="indexcards">
      <h2><u>Actividades sugeridas </u></h2>
      <!-- lista con imágenes y rutas fuera del Sitio Web-->

      <ul class="list-unstyled">
        <li class="media my-4">
          <img
            src="https://cdn.glitch.com/94b1782f-485d-4be9-be6b-b48fefbcb22b%2Frsz_pinceles.jpg?v=1589204571427"
            class="mr-3 rounded"
            alt="pinceles"
          />
          <div class="media-body">
            <h5 class="mt-0 mb-1"><u>Arte</u></h5>
            Las actividades manuales ponen a prueba nustras habilidades
            creativas, animate a pintar, dibujar, recortar al mejor estilo art
            attack.Te dejamos un lugar para que busques algunas ideas
            ¡Compartinos tus creaciones cuando esten listas!
            <a
              href="https://ar.pinterest.com/cejaurena/manualidades-para-la-cuarentena/"
              class="btn btn-dark"
              >Ir</a
            >
          </div>
        </li>
        <li class="media my-4">
          <img
            src="https://cdn.glitch.com/94b1782f-485d-4be9-be6b-b48fefbcb22b%2Frsz_popcorn.jpg?v=1589204216219"
            class="mr-3 rounded"
            alt="balde pochoclos"
          />
          <div class="media-body">
            <h5 class="mt-0 mb-1"><u>Cine</u></h5>
            Nada más lindo que ver películas en casa, te recomendamos un sitio
            donde podes encontrar las mejores películas y series recomendadas
            según tus intereses
            <a
              href="http://www.sensacine.com/peliculas/mejores/nota-espectadores/"
              class="btn btn-dark"
              >Ir</a
            >
          </div>
        </li>
        <li class="media my-4">
          <img
            src="https://cdn.glitch.com/94b1782f-485d-4be9-be6b-b48fefbcb22b%2Frsz_spotify_logo.png?v=1589203365278"
            class="mr-3 rounded"
            alt="logo spotify"
          />
          <div class="media-body">
            <h5 class="mt-0 mb-1"><u>Música</u></h5>
            Aprovechemos la tecnología para disfrutar de la mejor música desde
            tu teléfono celular, te dejamos el lugar para que encuentres tú
            playlist ideal en spotify de manera super persoanlizada para que
            escuches en tú casa. Bailá, ordená ,limpiá y dejate fluir liberando
            endorfinas que alimenten tu cuerpo.
            <a
              href="https://open.spotify.com/playlist/5IO45YtKXacQ3ACtDLihbP"
              class="btn btn-dark"
              >Ir</a
            >
          </div>
        </li>
        <li class="media my-4">
          <img
            src="https://cdn.glitch.com/94b1782f-485d-4be9-be6b-b48fefbcb22b%2Frsz_libro.jpg?v=1589204020610"
            class="mr-3 rounded"
            alt="libro"
          />
          <div class="media-body">
            <h5 class="mt-0 mb-1"><u>Lecturas</u></h5>
            Para los grandes lectores que disfrutan de novelas, polciales,libros
            de ciencia ficción, encontrá listas de libros según tu intereses.
            <a
              href="https://www.casadellibro.com/libros-recomendados"
              class="btn btn-dark"
              >Ir</a
            >
          </div>
        </li>
        <li class="media my-4">
          <img
            src="https://cdn.glitch.com/94b1782f-485d-4be9-be6b-b48fefbcb22b%2Frsz_ted.png?v=1589203816878"
            class="mr-3 rounded"
            alt="logo ted"
          />
          <div class="media-body">
            <h5 class="mt-0 mb-1"><u>Inspirate</u></h5>
            Busca tu inspiración de lo que más te guste.El sitio ofical de
            charlas TED-Ideas Worth Spreading te ofrece una increible cantidad
            de charlas intersantes para ver según tus gustos personales, ingresá
            al sitio directamente dessde acá y comenzá tu busca persalizada de
            charlas.
            <a href="https://www.ted.com/" class="btn btn-dark">Ir</a>
          </div>
        </li>

        <li class="media my-4">
          <img
            src="https://cdn.glitch.com/94b1782f-485d-4be9-be6b-b48fefbcb22b%2Frsz_quora.png?v=1589203663579"
            class="mr-3 rounded"
            alt="logo quora"
          />
          <div class="media-body">
            <h5 class="mt-0 mb-1"><u>Dejate llevar</u></h5>
            Si te encanta interactuar con gente y la cuarentena te lo impide,
            Quora es tu lugar. éste sitio ofrece la oportunidad de charlar con
            gente alrededor de todo el mundo, animate a preguntar y responder
            sobre los temas que más te gustan, no esperes más y accede a Quora
            desde acá.
            <a href="https://www.quora.com/" class="btn btn-dark">Ir</a>
          </div>
        </li>
      </ul>
    </section>

    <!--Pie de pagina-->
    <section class="footer">
      <p style="color:cornsilk">
        Para más información no dudes en contactarte
      </p>
      <a href="/contacto" class="btn btn-dark">Contacto</a>
    </section>
  </body>
</html>