<!DOCTYPE html>
<html lang="en">
  <head><!--Informacion del documetno :no visible-->
    <title>Salud en casa</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"/><!-- Anclaje con el Framework de BOOTSRAP-->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"/><!-- Anclaje al archivo de estilos-->
  </head>
  <body>
    <header><!-- Barra de navegacion y portada-->
      <nav
        class="navbar navbar-expand-lg navbar-light bg-light bg-dark navbar navbar-dark "><!-- estilo de la navegación-->
        <a class="navbar-brand" href="#">
          <img
            src="https://cdn.glitch.com/94b1782f-485d-4be9-be6b-b48fefbcb22b%2Frsz_branimir-balogovic-faiqrv7fge0-unsplash.jpg?v=1588692801974"
            class="rounded-circle"
            width="60"
            height="60"
            alt="choque de puños médicos"/><!-- Logo con atributos (sin ruta)-->
        </a>
        <ul>
          <!-- opciones de la navegación con rutas (interiores)-->
          <li class="nav-item active">
            <a class="nav-link btn btn-dark" href="/">Inicio </a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-dark" href="{{ url_for('contacto') }}">Contacto</a>
          </li>
        </ul>
      </nav>
      <div
        class="cover d-flex justify-content-center align-items-center flex-column"
        style="background-image: url(https://cdn.glitch.com/94b1782f-485d-4be9-be6b-b48fefbcb22b%2Frsz_jamie-street-tb5a-qti6xg-unsplash.jpg?v=1588692229998);"
      >
        <h1>
          Salud en casa
        </h1>
      </div>
    </header>
    <!-- cuerpo de la seccion-->
    <section class="indexcards"><!-- Introducción a la sección-->
      <p class="introsalud">
        <u> Sistema inmune:</u>
        Se trata de nuestro ejército de batalla frente a la invasión de agentes
        infecciosos.Las células de la sangre reaccionan de manera súper
        específica y organizada para dar respuesta a un agente patógeno.En este
        caso debemos manetener nuestro sistema inmune activo para estar
        preparados para la posible entrada del virus y que esta respuesta sea la
        más eficiente posible. Numerosos estudios demuestran que una
        alimentación saludable es la clave para potenicar al máximoo nuestro
        sistema de defensas.
      </p>

      <p class="introsalud">
        <u>Actividad Física:</u>
        El conjunto de reacciones metabólicas asociadas al funcionamiento del
        orgamismo se vera potenciado cuando un individuo goze de buena salud.
        Para ello resulta de vital importancia la actividad física.La
        Organización Mundial de la Salud recomienda oxigenar y mover el cuerpo
        al menos 30 minutos al dia. El ejercicio previene enfermedades
        cardio-vasuclares y reduce la hipertenión entre muchísimos otros
        beneficios .También libera gran cantidad de endorfinas que tieenen
        efectos de placer y euforia en el cererbro causando sensación de bien
        estar en el individuo factor de gran importanica en la situación actual.
      </p>
      <div class="container mt-5 mb-5"><!-- Presentación de las 2 cratas:imagen(atributos),título,descrpción y ruta (interna)-->
        <div class="row justify-content-start">
          <div class="col-12 col-sm-6 mt-2"><!-- Carta nutrición-->
            <div class="card">
              <img
                src="https://cdn.glitch.com/94b1782f-485d-4be9-be6b-b48fefbcb22b%2Frsz_ja-ma--goux23dnks-unsplash.jpg?v=1588798048599"
                class="card-img card-img-top"
                alt="verduras y frutas"
              />
              <div class="card-body">
                <h5 class="card-title">Nutrición en tiempos de pandemia</h5>
                <p class="card-text">
                  Infromación nutrcional y lista de compras inteligente para
                  reforzar el sistema inmune
                </p>
                <a href="{{ url_for('listasuper') }}" class="btn btn-dark">Ir</a>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 mt-2"><!-- Carta entrenamiento-->
            <div class="card">
              <img
                src="https://cdn.glitch.com/94b1782f-485d-4be9-be6b-b48fefbcb22b%2Frsz_kelly-sikkema-be6k8sqt2fq-unsplash.jpg?v=1588798361384"
                class=" card-img card-img-top"
                alt="pesas de entrenamiento"
              />
              <div class="card-body">
                <h5 class="card-title">Entrenamiento</h5>
                <p class="card-text">
                  Ideas para entrenar en casa
                </p>
                <a href="{{ url_for('entrenamiento') }}" class="btn btn-dark" >Ir</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--Pie de pagina-->
    <section class="footer">
      <p>
        Para más información no dudes en contactarte
      </p>
      <a href="/contacto" class="btn btn-dark">Contacto</a><!--botón a la plantilla de contacto-->
    </section>
  </body>
</html>
